
.title{
    font-size: 30px;
    color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}
.navbar{
transition:6s;
 }
.navbar:hover{
background-image: linear-gradient(to right, #047b36, #2e8a18,rgb(10, 165, 10));
opacity: 0.8;
}
h1{
    text-align: center;
    padding: 50px;
}

#demo{
     height: 100%;
background: linear-gradient(270deg, #a8e6cf, #dcedc1); 
background-size:350px;
   animation:Animation 15s ease infinite;
}

@keyframes Animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container, .container-fluid{
      display: flex;
  gap: 20px;
}

@media (min-width: 200px) and (max-width: 1024px) {
 .container {
    flex-direction: column;
    gap: 10px;
  }
 
  .container-fluid{
      flex-direction: column;
    gap: 10px;
  }
}

.img-footer{
    width: 20%;
    height: 250px;
    margin: -50px 0 0 100px;
   opacity: 0.8;
   z-index: 1;
}



